<%- include header %>
<ul style="list-style:none">
<li><h3><a href="http://www.cuit.edu.cn/">成都信息工程大学</a></h3></li>
<li><h3><a href="http://www.sc.gov.cn/">四川人民政府网</a></h3></li>
</ul>	

<%- include footer %>