<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OA管理系统</title>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
<link rel="apple-touch-icon-precomposed" href="/icon/icon.png">
<link rel="shortcut icon" href="/icon/favicon.ico">
<script src="javascripts/jquery.js"></script>

</head>

<body class="user-select">
<div class="container">
  <div class="siteIcon"><img src="/icon/icon.png" alt="" data-toggle="tooltip" data-placement="top" title="欢迎使用OA管理系统" draggable="false" />
    <% if (success) {%>
    <div><span style="color: red"><%=success %></span></span></div>
    <%} %>
    <% if (error) {%>
    <div><span style="color: red"><%=error %></span></div>
    <%} %>
    </div>
  <form method="post" autocomplete="off" class="form-signin">
    <h2 class="form-signin-heading">OA系统登录</h2>
    <label for="userName" class="sr-only">用户名</label>
    <input type="text" id="userName" name="id" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off" maxlength="10">
    <label for="userPwd" class="sr-only">密码</label>
    <input type="password" id="userPwd" name="password" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18">
    <a href="/reg"><button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">登录</button></a>
  </form>
  <div class="footer">
    <p><a href="/reg" data-toggle="tooltip" data-placement="left" title="注册">注册</a></p>
  </div>
</div>
<script src="js/bootstrap.js"></script> 

</body>
</html>
