<%- include header %>
<form method="post" enctype="multipart/form-data">
标题：<br />
<input type="text" name="title" /><br/>

		    <% if (role == 1) { %>
		      <% if (department == '销售部') { %>
		    主页：<br />
			<input type="radio" name="mainpost" value="1">Yes
			<input type="radio" name="mainpost" value="2">No<br>
   			<% } %>
		    标签:<br />
		    <input type="text" name="tag1" /><input type="text" name="tag2" /><input type="text" name="tag3" /> <br />
		    <% } %>



正文：<br />
<textarea name="post" rows="20" cols="100"></textarea><br />
附件：<br />
<input type="file" name="file1" /><br/>
<input type="file" name="file2" /><br/>
<input type="file" name="file3" /><br/>
<input type="file" name="file4" /><br/>
<input type="file" name="file5" /><br/>
<input type="submit" value="发表" />
</form>
<%- include footer %>