<%- include header %>
  <a class="tag" href="/myfiles">我的文件</a>


<hr>
<br/>
<form method="post" action="/upload" enctype="multipart/form-data">
<input type="file" name="file1" /><br/>
<input type="submit" />
</form>
<%- include footer %>